$bg-principal: white;
$color-principal:#0474e4;
$color-letra: rgb(5, 1, 40);
$padding-principal: 0 10%;
$font-size-p:1.1rem;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: "PlusJakartaSans-ExtraBold",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

// menu de navegacion
.header{
  background-color: white;
  position: sticky;
  top: 0;
  opacity: .9;
  width: 100%;
  height: 8vh;
  padding: 0 10%;  
  border-bottom: 1px solid #f0e9e9;
  display: flex;
  justify-content: space-between;
  align-items: center;

    .img{
      display: none;
    }

    .nav{  
    display:flex;
    align-items: center;
    gap: 25px;
      
      a{
        text-decoration: none;
        color: black;
        font-weight: 900;
      }
    }

    .redes{
      display: flex;
      gap: 20px;
      filter: invert(33%) sepia(77%) saturate(5370%) hue-rotate(199deg) brightness(99%) contrast(97%);

        span{
          width: 30px;
          height: 30px;
          border: 1px solid rgb(245, 233, 233);
          border-radius: 7px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
    }

    @media (max-width: 700px){
      .nav{
        display: none;
      }
      .img{
        display: flex;
      }
    }
}



// seccion uno 

.seccion-uno{
  width: 100%;
  min-height: 92vh;
  padding: $padding-principal;
  display: grid;
  grid-template-columns: 50% 50%;

    .primera{
      width: 100%;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;

        h1{
          max-width: 500px;
          font-size: 4.4rem;
          font-weight: 900;
          color:$color-letra ;
          

            span{
              color: $color-principal;
            }
        }
        @media (max-width: 550px){
            h1{
              font-size: 2.5rem;
              text-align: center;
            }
        }

        p{
          max-width: 520px;
          color: rgb(111, 107, 107);
          font-size: $font-size-p;
        }

        .btn{
          max-width:520px ;
          display: flex;
          flex-wrap: wrap;
          gap: 25px;

            .btn-1{
              background-color: $color-principal;
              width: 140px;
              height: 50px;
              border: 1px solid rgb(200, 195, 195);
              border-radius: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #f0e9e9;
              font-size: $font-size-p;
              font-weight: 700;
              @media (max-width: 582px){
                width: 300px;
              }
            }
            .btn-2{
              width: 300px;
              height: 50px;
              border: 1px solid rgb(200, 195, 195);
              border-radius: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #434040;
            }
            @media (max-width: 582px){
                justify-content: center;
                align-items: center;
            } 
        }
    }

    .segunda{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

        .c-uno{
          background:$color-principal;
          width: 380px;
          height: 280px;
          padding: 25px;
          border: 1px solid rgb(210, 206, 206);
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          gap: 25px;
          color: white;
          font-weight: 600;

            img{
              width: 40px;
              border-radius: 10px;
              border: 1px solid white;
            }

            .cosito{
              background-color: white;
              width: 30px;
              height: 30px;
              border: 2px solid white;
              border-radius: 7px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 18px;
              color: $color-principal;
              font-weight: 600;
            }
          }
          
        .c-dos{
          width: 380px;
          height: 150px;
          border: 1px solid rgb(214, 209, 209);
          border-radius: 10px;
          display: flex;
          padding: 10px;
          gap: 10px;

            img{
              width: 124px;
              border-radius: 10px;
            }
        }
        @media (max-width: 1100px){
            display: none;
    
        }
    }

}

@media (max-width: 1100px){
  .seccion-uno{
    display: flex;
    align-items: center;
  }
}


// seccion dos 

.seccion-dos{
  width: 100%;
  height: 50vh;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

    .aliados{
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;
    }

    p{
      color: #434040;
      max-width: 400px;
      text-align: center;
    }
}


// seccion tres 


.seccion-tres{
  background-color: #f3f6f9;
  min-height: 92vh;
  padding: 5% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (width < 500px){
    padding: 10% 0;
    gap: 40px;
  }
    .c-uno{
      max-width: 500px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media (width < 500px){
        align-items: center;
      }
       h4{
        color: $color-principal;
        font-weight: 900;
        @media (width < 500px){
          text-align: center;
        }
       }
       h2{
        color: $color-letra;
        font-size: 2.5rem;
        font-weight: 700;
        max-width: 500px;
        @media (width < 500px){
          text-align: center;
        }
          span{
            color: $color-principal;
          }
       }
       p{
        max-width: 440px;
        color: #434040;
        @media (width < 500px){
          text-align: center;
        }
       }

       div{
        max-width: 600px;
        height: auto;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 5px ;
        border-radius: 10px;
           div{
            display: flex;
            flex-direction: column;
            justify-content: center;
              h3{
                color:$color-letra;
                font-size: $font-size-p;
                font-weight: 900;
              }
              a{
                text-decoration: none;
                color: $color-principal;
                font-weight: 900;
              }
           }
           .img{
            margin-left: 15px;
            width: auto;
              img{
                width: 36px;
                height: 36px;
              }
           
           }


       }

       .div:hover{
        background-color: #dee0e4;
       }

       .pri{
        background-color: white;
        border: 1px solid rgb(223, 220, 220);
        border-radius: 10px;
        transition: all .2s ease-in-out;
       }

       .pri:hover{
         box-shadow: 0 2px 4px rgba(110, 107, 107, 0.4);;
       }

       @media (max-width: 450px){
          div{
            width: 95%;
          }
       }

       
    }

    .c-dos{
      width: 550px;
      background-color: rgb(231 235 240);
      border: 1px solid rgb(218, 215, 215);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      @media (max-width: 500px){
        max-width: 500px;
        gap: 20px;
      }
        .r-uno{
          background-color: white;
          margin: auto;
          height: auto;
          padding: 10px;
          border: 1px solid rgb(227, 223, 223);
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;

            img{
              width: 60px;
              border-radius: 50%;
              border: 2px solid $color-principal;
            }
            h3{
              font-size: 15px;
            }

            .fecha{
              color: $color-principal;
              font-weight: 600;
            }
        }

        .code{
          color: white;
          background-color: #001E3C;
          border-radius: 10px;
          // display: flex;
          // align-items: center;
          // justify-content: center;
            
        }

       
    }
}




//seccion cuatro

.seccion-cuatro{
  width: 100%;
  min-height: 72vh;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media (max-width: 450px){
    justify-content: center;
    align-items: center;
  }

    article{
      display: flex;
      flex-direction: column;
      gap: 10px;
      h4{
        color: $color-principal;
        font-weight: 900;
      }

      h2{
        color: $color-letra;
        max-width: 480px;
        font-size: 2.5rem;
        font-weight: 900;

         span{
          color: $color-principal;
         }
      }
    }

    .cards{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
      @media (max-width: 665px){
        justify-content: center;
        text-align: center;
      }

        .card{
          width: 250px;
          height: 160px;
          border: 1px solid rgb(233, 230, 230);
          border-radius: 10px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          transition: all .2s ease-in-out;
            span{
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 5px;
            }

            p{
              font-size: 15px;
              color: #6e6969;
            }
        }

        .card:hover{
          transform: translateY(-3px);
        }
    }
}

// seccion cinco 

.seccion-cinco{
  background-color: #022d59;
  width: 100%;
  min-height: 60vh;
  padding: 5% 10%;
  display: grid;
  gap: 4.2rem;
  grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  justify-content: center;
  align-items: center;

    .c-uno{
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media (max-width: 500px){
        width: 300px;
        justify-content: center;
        align-items: center;
      }
        p{
          color: rgb(255, 255, 255);
          font-size: .9rem;
          font-weight: 600;
          letter-spacing: 1px;
          @media (max-width: 500px){
            width: 300px;
            margin: auto;
          }
        }

        div{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 10px;
          @media (max-width: 500px){
            justify-content: center;
          }
          
            img{
              border-radius: 50%;
              border: 2px solid $color-principal;
            }

            h3{
              color: white;
              font-size: 1rem;
                span{
                  color: #beb7b7;
                  opacity: .6;
                }
            }
        }

    }

    .c-dos{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 60px;

        div{
          width: 200px;
          height: auto;
          color: rgb(108, 166, 237);
          display: flex;
          flex-direction: column;
          gap: 5px;

            h2{
              font-size: 1.8rem;
            }
            span{
              color: #c0bcbc;
            }
        }
    }
}

// seccion seis


.seccion-seis{
  width: 100%;
  min-height: 30vh;
  padding: 5% 10% 0 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
 
      .c-uno{
        display: flex;
        flex-direction: column;
        gap: 10px;
          h4{
            color: $color-principal;
            font-weight: 700;
          }
          h2{
            font-size: 2.2rem;
            color: $color-letra;
              span{
                color: $color-principal;
              }
          }
          p{
            max-width: 430px;
            color: #585656;
            
          }
      }

      .c-dos{
        display: flex;
        flex-direction: column;
        gap: 10px;
          h2{
            color: $color-principal;
          }
          .cards{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
            @media (width < 900px) {
              justify-content: center;
              align-items: center;
            }
               .card{
                max-width: 350px;
                height: 120px;
                border: 1px solid rgb(210, 205, 205);
                border-radius: 10px;
                padding: 0 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                  div{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                      h4{
                        color: $color-principal;
                      }
                      p{
                        color: #595656;
                        font-weight: 600;
                        font-size: .9rem;
                      }
                  }
               }
          }
      }
}

// seccion 7

.seccion-siete{
  width: 100%;
  min-height: 60vh;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;

    h2{
      color: #bb8404;
      font-weight: 700;
    }

    .cards{
      display: flex;
      justify-content:space-between;
      flex-wrap: wrap;
      @media (width < 650px) {
        justify-content: center;
        align-items: center;
      }
        .card{
          width: 260px;
          height: 100px;
          border: 1px solid rgb(200, 196, 196);
          border-radius: 10px;
          padding: 0 10px;
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
         
            h4{
              color:$color-principal;
              margin-bottom:5px ;
            }
            p{
              color: #595656;
              font-weight: 600;
              font-size: .9rem;
            }
            img{
              width: 45px;
              height: 45px;

            }
        }
    }
}

// seccion 8

.seccion-ocho{
  background-color: #f3f6f9;
  width: 100%;
  min-height:50vh ;
  padding: 5% 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

    .c-uno{
      max-width: 500px;
      display: flex;
      flex-direction: column;
      gap: 10px;
        h4{
          color: $color-principal;
          font-weight: 900;
        }
        h2{
          color: $color-letra;
          font-size: 2.2rem;
          max-width: 450px;
            span{
              color: $color-principal;
            }
        }
        p{
          color: #4f4c4c;
          margin-bottom: 20px;
        }
    }

    .c-dos{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      @media (width < 725px) {
        justify-content: center;
        align-items: center;
      }
        .card{
          width: 280px;
          height: 150px;
          border: 1px solid rgb(184, 180, 180);
          border-radius: 10px;
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;
            h4{
              color:$color-principal;
            }
            p{
              color: #595656;
              font-weight: 600;
              font-size: .9rem;
            }
            a{
              text-decoration: none;
              color:$color-principal;
              font-weight: 900;
            }
        }
    }
}


// seccion 9

.seccion-nueve{
  background-color: #f3f6f9;
  width: 100%;
  min-height: 60vh ;
  border-top: 1px solid rgb(229, 225, 225);
  padding: 5% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:20px;

   .c-uno{
    display: flex;
    flex-direction: column;
    gap: 10px;
      h4{
        color: $color-principal;
      }
      p{
        color: #595656;
        font-weight: 600;
        font-size: .9rem;
      }
   }

   .c-dos{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;

      .card{
        display: flex;
        flex-direction: column;
        gap: 15px;
          h4{
            color: $color-principal;
          }
          h6{
            color: #595656;
            font-weight: 600;
            font-size: .9rem;
          }
      }
   }
}


// seccion 10

.seccion-diez{
  background-color: #f3f6f9;
  width: 100%;
  min-height:15vh;
  padding: 0 10%;
  border-top: 1px solid rgb(229, 225, 225);
  display: flex;
  align-items: center;
  justify-content: space-between;
    h2{
      color: #595656;
      font-weight: 600;
      font-size: .9rem;
    }
    .redes{
      display: flex;
      gap: 20px;
       img{
        filter: invert(26%) sepia(1%) saturate(2669%) hue-rotate(314deg) brightness(94%) contrast(63%);
       }
    }
}