$bg-principal: white;
$color-principal:#0474e4;
$color-letra: rgb(3, 1, 27);
$padding-principal: 0 10%;
$font-size-p:1.1rem;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: "PlusJakartaSans-ExtraBold",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

// menu de navegacion
.header{
  background-color: white;
  position: sticky;
  top: 0;
  opacity: .9;
  width: 100%;
  height: 8vh;
  padding: 0 10%;  
  border-bottom: 1px solid #f0e9e9;
  display: flex;
  justify-content: space-between;
  align-items: center;

    .img{
      display: none;
    }

    .nav{  
    display:flex;
    align-items: center;
    gap: 25px;
      
      a{
        text-decoration: none;
        color: black;
        font-weight: 900;
      }
    }

    .redes{
      display: flex;
      gap: 20px;
      filter: invert(33%) sepia(77%) saturate(5370%) hue-rotate(199deg) brightness(99%) contrast(97%);

        span{
          width: 30px;
          height: 30px;
          border: 1px solid rgb(245, 233, 233);
          border-radius: 7px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
    }

    @media (max-width: 700px){
      .nav{
        display: none;
      }
      .img{
        display: flex;
      }
    }
}



// seccion uno 

.seccion-uno{
  width: 100%;
  min-height: 92vh;
  padding: $padding-principal;
  display: grid;
  grid-template-columns: 50% 50%;

    .primera{
      width: 100%;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;

        h1{
          max-width: 500px;
          font-size: 4.4rem;
          color:$color-letra ;
          font-family: "PlusJakartaSans-ExtraBold",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

            span{
              color: $color-principal;
            }
        }

        p{
          max-width: 520px;
          color: rgb(62, 60, 60);
          font-size: $font-size-p;
        }

        .btn{
          max-width:520px ;
          display: flex;
          gap: 25px;

            .btn-1{
              background-color: $color-principal;
              width: 140px;
              height: 50px;
              border: 1px solid rgb(200, 195, 195);
              border-radius: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #f0e9e9;
              font-size: $font-size-p;
              font-weight: 700;
            }
            .btn-2{
              width: 300px;
              height: 50px;
              border: 1px solid rgb(200, 195, 195);
              border-radius: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #434040;
            }
        }
    }

    .segunda{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

        .c-uno{
          background:$color-principal;
          width: 380px;
          height: 280px;
          padding: 25px;
          border: 1px solid rgb(210, 206, 206);
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          gap: 25px;
          color: white;
          font-weight: 600;

            img{
              width: 40px;
              border-radius: 10px;
              border: 1px solid white;
            }

            .cosito{
              background-color: white;
              width: 30px;
              height: 30px;
              border: 2px solid white;
              border-radius: 7px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 18px;
              color: $color-principal;
              font-weight: 600;
            }
          }
          
        .c-dos{
          width: 380px;
          height: 150px;
          border: 1px solid rgb(214, 209, 209);
          border-radius: 10px;
          display: flex;
          padding: 10px;
          gap: 10px;

            img{
              width: 124px;
              border-radius: 10px;
            }
        }
    }

    @media (max-width: 1100px){
      .segunda{
        display: none;
      }

    }
}

@media (max-width: 1100px){
  .seccion-uno{
    display: flex;
    align-items: center;
  }
}


// seccion dos 

.seccion-dos{
  width: 100%;
  height: 50vh;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

    .aliados{
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    p{
      color: #434040;
      max-width: 400px;
      text-align: center;
    }
}


// seccion tres 


.seccion-tres{
  background-color: #f3f6f9;
  width: 100%;
  min-height: 92vh;
  padding: 5% 10%;
  display: grid;
  grid-template-columns: 50% 50%;
    .c-uno{
      max-width: 550px;
      display: flex;
      flex-direction: column;
      gap: 20px;
        
       h4{
        color: $color-principal;
        font-weight: 900;
       }
       h2{
        color: $color-letra;
        font-size: 2.5rem;
        font-weight: 700;
        max-width: 500px;
          span{
            color: $color-principal;
          }
       }
       p{
        max-width: 440px;
        color: #434040;
       }

       div{
        width: 490px;
        height: 130px;
        display: flex;
        justify-content: center;
        gap: 20px;
        border-radius: 10px;
           div{
            display: flex;
            flex-direction: column;
            justify-content: center;
              h3{
                color:$color-letra;
                font-size: $font-size-p;
                font-weight: 900;
              }
              a{
                text-decoration: none;
                color: $color-principal;
                font-weight: 900;
              }
           }
           .img{
            margin-left: 15px;
            width: auto;
              img{
                width: 36px;
                height: 36px;
              }
           
           }


       }

       div:hover{
        background-color: #ecedef;
       }

       .pri{
        background-color: white;
        border: 1px solid rgb(223, 220, 220);
        border-radius: 10px;
        transition: all .2s ease-in-out;
       }

       .pri:hover{
         box-shadow: 0 2px 4px rgba(110, 107, 107, 0.4);;
       }
    }

    .c-dos{
      background-color: rgb(231 235 240);
      border: 1px solid rgb(218, 215, 215);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
        .r-uno{
          background-color: white;
          margin: auto;
          max-width:450px;
          height: auto;
          padding: 10px;
          border: 1px solid rgb(227, 223, 223);
          border-radius: 10px;

            img{
              width: 60px;
              border-radius: 50%;
            }
        }

        .code{
          background-color: #001E3C;
          border-radius: 10px;
          width: 100%;
          height: 70%;
          display: flex;
         

           
        }
    }
}


//seccion cuatro

.seccion-cuatro{
  width: 100%;
  min-height: 72vh;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  gap: 30px;

    article{
      display: flex;
      flex-direction: column;
      gap: 10px;
      h4{
        color: $color-principal;
        font-weight: 900;
      }

      h2{
        color: $color-letra;
        max-width: 480px;
        font-size: 2.5rem;
        font-weight: 900;

         span{
          color: $color-principal;
         }
      }
    }

    .cards{
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;

        .card{
          width: 250px;
          height: 160px;
          border: 1px solid rgb(200, 196, 196);
          border-radius: 10px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          transition: all .2s ease-in-out;
            span{
              display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 5px;
            }

            p{
              color: #434040;
            }
        }

        .card:hover{
          transform: translateY(-3px);
        }
    }
}

// seccion cinco 

.seccion-cinco{
  background-color: #022d59;
  width: 100%;
  min-height: 60vh;
  padding: 5% 10%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;

    .c-uno{
      display: flex;
      flex-direction: column;
      gap: 20px;
        p{
          color: rgb(255, 255, 255);
          font-size: 1rem;
          font-weight: 600;
          letter-spacing: .8px;
        }

        div{
          display: flex;
          align-items: center;
          gap: 10px;
            img{
              border-radius: 50%;
              border: 2px solid $color-principal;
            }

            h3{
              color: white;
              font-size: 1rem;
                span{
                  color: #beb7b7;
                  opacity: .6;
                }
            }
        }

    }

    .c-dos{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 60px;

        div{
          width: 200px;
          height: auto;
          color: rgb(108, 166, 237);
          display: flex;
          flex-direction: column;
          gap: 5px;

            h2{
              font-size: 1.8rem;
            }
            span{
              color: #c0bcbc;
            }
        }
    }
}